
        body {
        background-color: #E3FDFD;
        }

        hr {
        border-style:dotted none none;
        border-width: 5px;
        border-color: grey;
        width: 5%;
        }


        h1 {
        color: #71C9CE;
        }

        h3 {
        color: #71C9CE;
        }
